/* CSS Document */
/* DEFAULT STYLES */

#sub-conscient-intrusif{
    padding: 20px;
}
#sub-conscient-intrusif p, blockquote {
    font-weight: 400;
    font-style: normal;
    color: #fff;
}
#sub-conscient-intrusif h1 {
  font-family: "Neue World", serif;
  text-transform: uppercase;
  font-size: 10em;
  font-weight: 400;
  line-height: 0.8em;
  color: #fff;
}
#sub-conscient-intrusif h2 {
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
}
#sub-conscient-intrusif h2{
	color: #fff;
}
#sub-conscient-intrusif h3 {
  font-family: "Neue World", serif;
  text-transform: uppercase;
  font-size: 10em;
  font-weight: 400;
  line-height: 0.8em;
  color: #fff;
}
#sub-conscient-intrusif .title-intrusif {
  /* background-color: aquamarine; */
	margin-top: -20px;
	padding-left: 20px;
}
.img-box-sub-conscient {
  flex: 1;
  position: relative;
  align-items:flex-start;
  justify-content: center; /* center horizontally */
  height: inherit;
}
.img-box-sub-conscient img {
  width: 100%;
}
/* TEXT STYLE CLASSES */
#sub-conscient-intrusif .bold {
  font-weight: 10em;
}
#sub-conscient-intrusif .article-text {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.img-box-sub{
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
#sub-conscient-intrusif .third-col {
  flex-basis: 33.33%;
	padding: 20px; /* overrides the 40px from .article-text */
}
#sub-conscient-intrusif .img-box.no-margins img{
	margin: 0;
	padding: 0;
}
#sub-conscient-intrusif .img-box .mini-forme{
	width: 120px;
}
#sub-conscient-intrusif .text-container-special1 {
  max-width: 1280px; 
  margin-top: 55px;
  position: relative;
}
#sub-conscient-intrusif .text-container-special2 {
  max-width: 1280px; 
  margin-top: 30px;
  position: relative;
}
#sub-conscient-intrusif{
	background-color: #A9ADAE;
}
#sub-conscient-intrusif .credits{
	padding-right: 20px;
}
#sub-conscient-intrusif .col-medium{
	flex-basis: 66.66%;
	margin-top: 5px;
}
#sub-conscient-intrusif .col-medium-small{
	flex-basis: 33.33%;
	margin-top: 70px;
	margin-bottom: 50px;
}
#sub-conscient-intrusif .col-medium-small-special{
	flex-basis: 33.33%;
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
#sub-conscient-intrusif .article-text {
  flex-direction: row;
  box-sizing: border-box;
}
#sub-conscient-intrusif .align-top{
	margin-top: -60px;
}
#sub-conscient-intrusif .bold{
	font-weight: bold;
}
#sub-conscient-intrusif .italic{
	font-style: italic;
}
#sub-conscient-intrusif .fleche{
	position: relative;
	bottom: 50px;
}
