/* CSS Document */
#leo .article-text {
  padding-top: 40px;
  box-sizing: border-box;
  /* max-height: 628px; */
}
#leo .article-text-bottom {
  padding-top: 40px;
  box-sizing: border-box;
  /* max-height: 628px; */
  alignment-baseline: bottom;
}

.text-container-leo{
	max-width: 1280px; /* was 1000px */
	margin: 0 auto;
	padding: 40px;
	position: relative;
	alignment-baseline: bottom;
}
#leo .title-wrapper{
	position: relative;
	height: 190px;
}
#leo .float{
	position: absolute;
	top: 0px;
	width: calc(100% - 40px);
}
#leo .title{
	width: 300px;
	margin-left: -150px;
	left: 50%;
	position: absolute;
}

#leo #pos-tweak1, #leo #pos-tweak3{
	position: absolute;
	right: 40px;
}
#leo #pos-tweak2{
	position: absolute;
	margin-left: -380px;
	left: 50%;
}
#leo .back-image{
	width: 100%;
	left: 0px;
	position: absolute;
}
#leo{
    background-color: #1D1C19;
}
#leo p, #leo h1{
	color: #fff;
}
#leo .text-container-special1 {
  max-width: 1280px; 
  margin-top: 55px;
  position: relative;
}
#leo .medium-text{
	padding: 20px;
}
#leo .title .img-box img{
	width: 120px;
}
#leo .title img{
	display: block;
}
#leo .title .img-box{
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	width: 30%;
	margin-bottom: 10px;
}
#leo .scroll-box{
	margin-left: 10px;
	direction: ltr;
	height: calc(100vh - 300px);
	margin-bottom: 40px;
}
#leo .scroll-box::-webkit-scrollbar{
	width: 10px;
	height: 30px;
}
/* Track */
#leo .scroll-box::-webkit-scrollbar-track {
  border-radius: 5px;
	background-color: none;
	box-shadow: none;
}
 
/* Handle */
#leo .scroll-box::-webkit-scrollbar-thumb {
  background: #EA5F0B; 
  border-radius: 10px;
}

#leo .half-col.scroll-box{
	flex-basis: calc(50% + 15px);
}
#leo .scroll-container{
    padding-top: 20px;
}
#leo{
	background-image: url("../Links/leo_hero_1.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
