/* CSS Document */
/* DEFAULT STYLES */
body {
  margin: 0;
}
p, h1, h2, h3, h4, h5 {
  margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:visited{
	color: inherit;
}
a:hover{
	color: inherit;
}
a:active{
	color: inherit;
}
img {
  display: block;
}
p, blockquote {
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
h1 {
  font-family: "Neue World", serif;
  text-transform: uppercase;
  font-size: 10em;
  font-weight: 400;
	line-height: 0.8em;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.half-col {
  flex-basis: 50%;
}
.col-small {
  flex-basis: 16.65%;
}
.credits p {
  text-transform: uppercase;
  font-family: "Neue World", serif;
  font-size: 1.3em;
}
.credits .author, .credits .visuals-by {
  font-family: acumin-pro, sans-serif;
  line-height: 1em;
  padding-bottom: 16px;
}
#fatum{
	padding-top: 20px;
}
#fatum .intro {
  min-height: 600px;
}
#fatum .intro > * {
  min-height: inherit;
}
#fatum .scroll-container .img-box img{
	width: 60%;
	box-sizing: border-box;
}
#fatum .article-text p{
	max-width: 500px;
	margin: 0 auto;
}
blockquote {
  margin: 0;
  color: #fff;
  font-size: 2.2em;
  font-weight: 300;
  line-height: 1.3em;
}
.quote {
  position: relative;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* TITLE AND HERO */
.title {
  /* background-color: aquamarine; */
	margin-top: 40px;
	padding-left: 20px;
}
.credits {
  /* background-color: cornflowerblue; */
	padding-left: 20px;
}
.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row !important;
}
#fatum .hero {
  background-image: url("../Links/fatum-bg.jpg");
}
.hero .forme {
  flex-basis: 60%;
}
.half-col {
  flex-basis: 50%;
  position: relative;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.v-centered {
  flex-direction: column;
}
.v-centered .img-box{
	align-items: center;
  justify-content: center;
}
.img-box {
  flex: 1;
  position: relative;

	align-items:flex-start;
  justify-content: center; /* center horizontally */
  display: flex;
  height: inherit;
}
.img-box img {
    width: 80%;
}
/* TEXT STYLE CLASSES */
.centered {
  text-align: center;
}
.serif {
  font-family: "Neue World", serif;
}
.sans-serif{
	font-family: acumin-pro, sans-serif;
}
.title .sans-serif{
	font-weight: 300;
}
.article-text {
  padding: 40px;
  box-sizing: border-box;
}
.col-large{
	flex-basis: 83.35%;
}
.col-large img{
	width: 100%;
	padding-left: 20px;
	padding-right: 40px;
	box-sizing: border-box;
}
#au-travers-de-ta-fenetre{
	overflow-x: hidden; /* prevent horizontal scrolling */
}
#au-travers-de-ta-fenetre .title{
	height: 230px;
	z-index: 10;
	position: relative;
	width: 100%;
}
#au-travers-de-ta-fenetre #pos-tweak1{
	position: absolute;
	right: 5%;
	top: 32px;
}
#au-travers-de-ta-fenetre #pos-tweak2{
	position: absolute;
	right: 5%;
	margin-top: 46%;
	/* top: calc(100vh - 340px); */
}
#au-travers-de-ta-fenetre .hero{
	margin-bottom: 100px;
}
.full-col{
	flex: 1;
}
/* thin intro */
.thin{
	min-height: inherit; /* cancel min-width given by intro */
}
.thin blockquote{
	padding: 40px 10%;
}
.justified p:not(.serif){
	text-align: justify;
}
.text-container{
	max-width: 1280px; /* was 1000px */
	margin: 0 auto;
	position: relative;
}
.over-img{
	position: absolute;
}
#au-travers-de-ta-fenetre .over-img:first-of-type{
	left: -15%;
	top: 250px;
}
#au-travers-de-ta-fenetre .over-img:last-of-type{
	right: -22%;
	bottom: 100px;
}
.image-fill{
	width: 100%;
}
#ton-corps{
	background-color: #000;
}
#ton-corps .title{
	color: #A9ADAE;
	z-index: 10;
}
#ton-corps p{
	color: #fff;
}
#ton-corps .hero{
	padding: 40px;
}
#ton-corps #pos-tweak1{
    position: absolute;
    right: -110%;
	top: calc(100vh - 200px); /* anchored in bottom right corner */
}
#ton-corps .intro{
    flex-direction: row;
    position: relative;
}
#ton-corps .half-col{
	justify-content: flex-start;
}
.half-col .col-small{
	width: 33%; /* 1/6th width */
}
.fleche{
	width: 50px;
	margin: 0px auto;
}
.symbole-anime{
	height: 200px;
}
.img-box{
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.right-aligned{
	text-align: right;
}
.text-split > *{
	display: inline-block;
}
.text-split{
	display: flex;
	justify-content: space-between;
}
#la-mort-eclot-toujours-sans-douleur .title-wrapper{
	position: relative;
	height: 1000px;
}
#la-mort-eclot-toujours-sans-douleur .float{
	position: absolute;
	top: 0px;
	width: 100%;
}
#la-mort-eclot-toujours-sans-douleur #pos-tweak1, #la-mort-eclot-toujours-sans-douleur #pos-tweak3{
	position: absolute;
	right: 40px;
}
#la-mort-eclot-toujours-sans-douleur #pos-tweak2{
	position: absolute;
	margin-left: -380px;
	left: 50%;
}
#la-mort-eclot-toujours-sans-douleur .back-image{
	width: 1000px;
	margin-left: calc( -750px + 25vw);
	left: 0px;
	position: absolute;
}
.back-image img{
	display: block;
	width: 100%;
}
#la-mort-eclot-toujours-sans-douleur{
    background-color: #1D1C19;
}
#la-mort-eclot-toujours-sans-douleur p, #la-mort-eclot-toujours-sans-douleur h1{
	color: #fff;
}
.third-col {
  flex-basis: 33.33%;
	padding: 20px; /* overrides the 40px from .article-text */
}
#defaire-le-lit .vertical-text .title{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    min-height: 1120px;
    width: 100%;
    transform: rotate(180deg);
	margin-left: 40px;
}
#defaire-le-lit .vertical-text{
	background-color: #A9ADAE;
}
#defaire-le-lit{
	background-color: #000;
}
#defaire-le-lit p{
	color: #A9ADAE;
}
#defaire-le-lit main{
	padding-top: 50px;
	padding-bottom: 0px;
}
#defaire-le-lit .credits{
	margin-top: 40px;
}
.medium-text{
	font-family: acumin-pro, sans-serif;
	font-size: 2em;
	font-weight: 300;
	padding: 40px;
}
.medium-text.serif{
	color: #A9ADAE;
	font-family: "Neue World", serif;
	font-size: 2.4em;
}
#defaire-le-lit .anim{
	height: 100vh;
	justify-content: space-around;
	align-items: center;
	display: flex;
	flex-direction: column;
}
#defaire-le-lit .anim .v-centered{
	position: absolute;
}
#defaire-le-lit .anim .img-box{
	margin-left: 2.75%;
	height: inherit;
}
.img-box.no-margins img{
	margin: 0;
	padding: 0;
}
.no-margins {
	margin: 0;
	padding: 0;
}
.col-large .half-col{
	flex-basis: 66.66%;
}
.col-large .third-col{
	flex-basis: 33.33%;
}
.img-box .mini-forme{
	width: 120px;
}
/* added jan11, 9pm */
.subtitle{
	font-size: 1.2em;
}
/* added jan13, 1am */
#ton-corps .symbole-anime{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
}
#ton-corps .fleche, #manifeste .fleche, #sub-conscient-intrusif .fleche, #leo .fleche, #manifeste-pour-un-art-virus .fleche, #nevrose .fleche{
	padding-top: 0px;
	animation-name: bounce-vertical;
  	animation-duration: 2s;
	animation-iteration-count: infinite; 
}

/* SCROLL BOX */
.scroll-box{
	overflow-y: scroll;
	direction: rtl;
	height: inherit;
}
.scroll-box > *{
	direction: ltr;
}
.scroll-container{
	height: calc(100vh - 200px);
	padding: 40px 0px;
}
#fatum .scroll-box{
	margin-left: 10px;
}
#fatum .scroll-box::-webkit-scrollbar{
	width: 10px;
	height: 30px;
}
/* Track */
#fatum .scroll-box::-webkit-scrollbar-track {
  border-radius: 0px;
	background-color: #000;
	box-shadow: none;
	border: solid 4px #fff;
}
 
/* Handle */
#fatum .scroll-box::-webkit-scrollbar-thumb {
  background: #EA5F0B; 
  border-radius: 10px;
}

/* Handle on hover */
#fatum .scroll-box::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
#fatum .half-col.scroll-box{
	flex-basis: calc(50% + 15px);
}

#la-mort-eclot-toujours-sans-douleur .anim .img-box video{
	max-height: calc(100vh - 40px);
	width: auto;
	border: 10px solid #FF931E;
}
#la-mort-eclot-toujours-sans-douleur .anim .img-box{
	height: 100vh;
}
.mot-orange{
	color: #FF6333;
}
main {
	padding-bottom: 60px;
}

@keyframes bounce-vertical {
  0%   {padding-top: 0px;}
  50%  {padding-top: 50px;}
  100%  {padding-top: 0px;}
}
#la-morteclot-toujours-sans-douleur video{
	width:100%;
	margin: 0px auto;
	display: block;
	max-width: 1920px;
}
#la-morteclot-toujours-sans-douleur .full-col video{
	max-width: 1280px;
	padding: 40px;
	width: 80%;
}
