/* CSS Document */
/* Styles - Footer */

footer nav:first-of-type section .fleche{
	height: 30px;
	width: 80px;
	margin: 0px 10px;
	transition: all 0.2s ease;
}
footer nav:first-of-type section{
	padding: 20px;
}
footer nav:first-of-type section:hover{
    cursor: pointer;
}
footer nav:first-of-type section:hover .fleche{
	margin: 0px;
	transition: all 0.2s ease;
}
footer nav:first-of-type section:hover p{
	/* color: #FF6333; */
	margin: 0px 10%;
	transition: all 0.2s ease;
}
footer p{
	line-height: 1.2em;
	margin: 0px 10px;
	font-size: 1.5em;
}
footer ul{
	list-style-type: none;
	padding: 0;
	margin: 0px;
}
footer ul li{
	font-family: acumin-pro;
	text-transform: uppercase;
	font-size: 0.8em;
	line-height: 1em;
	margin: 10px 0px;
	transition: all 0.2s ease;
}
footer {
    background-color: #DBDBDB;
    border-top: 1px solid #000;
}
footer nav{
	padding: 0px 3.8%;
}
footer nav:first-of-type{
	border-bottom: 1px solid #000;
}
footer nav:last-of-type{
	padding-top: 0px;
}
.quarter-col:not(:last-of-type){
	flex-basis: 24%;
}
footer .quarter-col{
	margin: 20px;
}
footer .forme{
	width: 50px;
}
footer ul .img-box{
	justify-content: flex-start;
	flex-direction: row;
	margin-left: -10px;
}
footer ul li:hover{
	font-weight: 600;
	margin-left: 2px;
	transition: all 0.2s ease;
}
footer #icon-manifeste:hover .forme{
	transition: all 0.2s ease;
	transform: rotate3d(0, 4, 1, 30deg);
}
footer #icon-manifeste .forme{
	transition: all 0.2s ease;
}
/* ----- MEDIA QUERIES ----- */
/* ----------- smaller than 1025px ----------- */
@media screen and (max-width: 1025px) {

}


/* OVERLAY */
#overlay{
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left:0;
	background-color: #000;
	color: #fff;
	z-index: 30;
	overflow: hidden;
}
#overlay .row{
	height: inherit;
	align-content: center;
	justify-content: center;
}
#overlay .row > *{
	align-self: center;
}

/* ----- MEDIA QUERIES ----- */
/* ----------- smaller than 960px ----------- */
@media screen and (max-width: 960px) {
	#overlay{
		visibility: visible;
	}
	body{
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}
}

/* end of OVERLAY */
