/* CSS Document */
/* Styles - Manifeste */

video{
	width:100%;
	margin: 0px auto;
	display: block;
	max-width: 1920px;
}
.full-col video{
	max-width: 1280px;
	padding: 40px;
	width: 80%;
}
#manifeste{
	background-color: #000;
	overflow: hidden;
}
.texte-manifeste em{
	font-family: "Neue World", serif;
	text-transform: none;
	position: relative;
	right: 0;
}
.texte-manifeste span{
	position: relative;
	right: 0;
}
.texte-manifeste{
	color: #FF6333;
	text-transform: uppercase;
	width: 400px;
	position: relative;
	margin: 0 auto;
	top: 0;
	right: 0vw;
	left: 0vw;
}
#manifeste .text-container{
	min-height: 1000px;
	position: relative;
}

#manifeste .row.centered{
	align-items: center;
	justify-content: center;
}
#manifeste main{
	padding-top: 60px;
}

/* ----------- larger than 1280px ----------- */
@media screen and (min-width: 1281px) {
}