/* CSS Document */
body{
    background-color: #DBDBDB;
    margin: 0;
}
.row{
	max-width: 1280px;
	margin: 0 auto;
}
p{
	font-size: 16px; /* default font-size */
}
p, h1, h2, h3, h4, h5{
	font-family: acumin-pro, sans-serif;
	margin: 0;
}
img{
	display: block;
}
#container{
	/* width: 960px; */
	display: block;
	margin: 0;
}

/* FONT */
@font-face {
	font-family: NeueWorld;
	src: url(../fonts/NeueWorld-SemiExtendedLight.otf);
 }

/* HEADER */
.nav-head{
	/* temporary - background color and border */
	border-bottom: 1px solid #000;
	background-color: #fff;
	
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	z-index: 20;
}

header h2{
	font-family: NeueWorld, serif;
	font-size: 1.8em;
	padding: 20px;
}

/* SOUS-MENU */
.nav-head nav a.main-btn:hover ~ ul.sub-nav{
	visibility: visible;
	opacity: 1;
	transition: all ease .5s;
}
.nav-head nav ul.sub-nav:hover{
	visibility: visible;
	opacity: 1;
	transition: all ease .5s;
}
.nav-head ul.sub-nav{
	width: 70px;
	height: 0;
	position: relative;
	top: 0px;
	right: 0px;
	margin: 0px auto;
	padding: 0;
	visibility: hidden;
	opacity: 0;
	transition: all ease .5s;
}
.nav-head ul.sub-nav li{
	list-style-type: none;
	background-color: #fff;
	padding: 10px;
}
.nav-head ul.sub-nav li a{
	transition: opacity 1s ease;
}
.nav-head ul.sub-nav li:hover a{
	opacity: 0.5;
	transition: opacity 1s ease;
}


/* HERO */

#homepage .hero{
	height: 100vh;
	min-height: 750px;
	margin: 0;
	display: flex;
	width: 100%;
	align-items: center;
	/* border: 2px solid green; */
}
#homepage .formes-container{
	flex: 1; /* flex of 1 inside hero */
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	/* border: 4px solid yellow; */
}
/* boxes with shapes inside */
#homepage .formes-container .forme-box{
	flex-basis: 19%;
	/* border: 2px solid red; */
}
/* ANIMATION (TEMPORARY) */
/* #homepage .formes-container .forme-box:hover{
	transform: rotate(-5deg) scaleX(1.2);
	transition: all 0.5s;
} */
/* shape images */
#homepage .formes-container img {
	display: block;
	width: 150%;
	margin-left: -50%; /* offset for centering */
}
#homepage .formes-container a img{
	transition: transform 2s ease;
}
#homepage .formes-container a:hover img{
	transition: transform 4s ease;
	transform: rotate3d(0,1,0,180deg);
}

/* SHAPE SIZE TWEAKING */
#homepage .formes-container .forme-box:last-child img{
	width: 180%; /* make manifeste shape bigger */
}
#homepage .formes-container .forme-box:first-child, #homepage .formes-container .forme-box:nth-child(3), #homepage .formes-container .forme-box:last-child{
	align-self: flex-end;
}
#homepage .formes-container .forme-box:nth-child(3) img{
	margin-left: -65%;
	width: 145%;
}
#homepage .formes-container .forme-box:nth-child(4) img{
	width: 140%;
}
/* ----- end of hero styles --------*/


/* general flexbox */

.row{
    display: flex;
}

/* general layout/style rules */
.article-preview{
	margin: 20px;
}
.article-preview .headline{
	border-bottom: 2px solid #000;
}
.article-preview .credits{
	position: relative;
}
.article-preview .credits img{
	width: 10%;
	position: absolute;
	bottom: 5px;
	right: 0px;
}
.headline{
	position: relative;
}
.article-gallery .headline img{
	position: absolute;
	width: 20%;
	bottom: 5px;
	right: 0px;
}


/* VÉRITÉS */

.verite, .interdit{
	background-color: #fff;
}
.verite header, .interdit header{
	position: relative;
	min-height: 250px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}
.verite .row, .interdit .row{
	position: relative;
	height: 100%; /* 100% height of parent (row) */
}
.verite .row > *, .interdit .row > *{
	/* all children of row*/
	margin: 0px 20px;
}
.verite header h4, .interdit header h4{
	flex: 2;
	padding-top: 30px;
	padding-bottom: 30px;
}
.verite header .forme-box{
	flex: 1;
}
.verite header img{
	display: block;
	width: 100%;
}
h4{
	text-transform: uppercase;
	font-size: 3em;
	line-height: 1.1em;
	font-weight: 400;
}
/* gallery portion */
.article-gallery{
	border-bottom: 2px solid #000;
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
}
.verite .article-gallery{
	background-color: #fff;
}
h5{
	font-size: 1.8em;
	line-height: 1.1em;
	font-weight: 400;
}
.article-gallery .row{
	justify-content: space-between;
}
.article-gallery img{
	width: 100%;
}
.article-preview{
	text-transform: uppercase;
	flex: 1;
}
.article-preview .headline{
	min-height: 100px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.verite .article-preview .headline, .interdit .article-preview .headline{
	border-bottom: 2px solid #000;
}
.article-preview .credits{
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
}
.article-preview p {
	font-weight: 200;
}
.article-preview .credits .author, .article-preview .credits .visuals-by{
	flex-basis: 85%;
	padding-right: 10%;
	box-sizing: border-box;
}
.article-preview p{
	flex-basis: 15%;
}
b {
	font-weight: 700;
}
/* offsetting on Y axis */
.verite .article-preview:nth-of-type(2){
	margin-top: 50px;
}
.verite .article-preview:nth-of-type(3){
	margin-top: 25px;
}

/* ENTRE LES DOIGTS */
.entre-les-doigts{
	background-color: #000;
	color: #fff;
}
/* all banners*/
.banner{
	height: 600px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}
.entre-les-doigts .banner{
    background-image: url("../Links/placeholder-frank1.png");
}
.entre-les-doigts .row{
	min-height: 180px;
}
.looping-text h4{
	color: #fff;
	font-size: 6em;
	/* width: 300%; */
	line-height: 180px;
}
.looping-text{
	border-top: 1px solid #fff;
	border-bottom: 2px solid #fff;
	display: block;
	height: 180px;
	position: relative;
	/* padding-left: 20px; */
	/* overflow: hidden; important to avoid wrapping */
}
.entre-les-doigts .article-gallery{
	border-bottom: 2px solid #fff;
	padding: 0;
}
.entre-les-doigts .article-preview .headline{
	border-color: #fff;
}
.entre-les-doigts .article-preview{
	border: none;
}
.article-gallery .column{
	border-right: solid 2px #fff;
	flex: 1;
	flex-basis: 25%;
}
/* offset y positions of article previews */
.entre-les-doigts .article-gallery .column:nth-of-type(2) .article-preview{
	margin-top: 300px;
}
.entre-les-doigts .article-gallery .column:nth-of-type(3) .article-preview{
	margin-top: 550px;
}
.entre-les-doigts .article-gallery .column:nth-of-type(4) .article-preview{
	margin-top: 80px;
}
.article-gallery .column:last-of-type{
	border-right: none;
	padding-right: 0;
}
.entre-les-doigts .article-preview{
	margin-top: 40px;
	margin-bottom: 100px;
}
.interdit .banner{
    background-image: url("../Links/banner-interdit.png");
	background-attachment: fixed;
}

/* header */
.interdit .row > *{
	flex: 1; /* half-half */
}
.interdit .column{
	flex-basis: 25%;
	padding: 0;
	margin: 0;
}
.interdit .article-preview{
	margin: 20px;
}
.interdit .column:first-of-type .article-preview{
	margin-top: 150px;
}
.interdit .column:nth-of-type(3) .article-preview{
	margin-top: 200px;
}


.univers-a-renouveau .looping-text h4{
	color: #4D4D4D;
}
.univers-a-renouveau .looping-text{
	border-color: #000;
	border-top: 0; /* ??? where is the border coming from that I'm cancelling out */
}
.univers-a-renouveau .banner{
	background-image: url("../Links/genese.png");
}
.univers-a-renouveau .article-preview:first-of-type{
	margin-top: 200px;
}
.univers-a-renouveau .article-preview:nth-of-type(3){
	margin-top: 80px;
}
.univers-a-renouveau .article-preview:last-of-type{
	margin-top: 150px;
}

/* MANIFESTE (BAS DE PAGE) */
.manifeste{
	height: calc(100vh - 70px);
	background-color: #EA5F0B;
	position: relative;
}
.manifeste img.forme-bg{
	height: 100%;
	margin: 0 auto;
	position: absolute;
	right: 0;
	left: 0;
}
#manifeste-type{
	position: absolute;
	width: 80%;
	height: auto;
	top:50vh;
	margin-top: -10%;
	left: 50%;
	margin-left: -40%;
}
.manifeste .forme-bg-default{
	transition: all .5s ease;
	opacity: 1;
}
.manifeste .forme-bg-1, .manifeste .forme-bg-2, .manifeste .forme-bg-3, .manifeste .forme-bg-4{
	transition: all .5s ease;
	opacity: 0;
}
.manifeste .icon{
	width: 70px;
	position: absolute;
}
.manifeste .icon-1{
	left: 20px;
	top: 20px;
}
.manifeste .icon-2{
	right: 20px;
	top: 20px;
}
.manifeste .icon-3{
	left: 20px;
	bottom: 20px;
}
.manifeste .icon-4{
	right: 20px;
	bottom: 20px;
}
.manifeste .icon-1:hover ~ .forme-bg-1{
	transition: all .5s ease;
	opacity: 1;
}
.manifeste .icon-2:hover ~ .forme-bg-2{
	transition: all .5s ease;
	opacity: 1;
}
.manifeste .icon-3:hover ~ .forme-bg-3{
	transition: all .5s ease;
	opacity: 1;
}
.manifeste .icon-4:hover ~ .forme-bg-4{
	transition: all .5s ease;
	opacity: 1;
}

.manifeste .icon-1:hover ~ .forme-bg-default,
.manifeste .icon-2:hover ~ .forme-bg-default,
.manifeste .icon-3:hover ~ .forme-bg-default,
.manifeste .icon-4:hover ~ .forme-bg-default{
	transition: all .5s ease;
	opacity: 0;
}

.nav-head .row{
	justify-content: space-between;
}
#nav-forme{
	width: 70px;
}
/* MEDIA QUERIES */ 
/* ------- smaller than 1280px -------- */
@media screen and (max-width: 1280px) {
	/*
	body{
		background-color: pink;
	}
	*/
  .formes-container {
	  margin: 0px 8%;
  }
}
/* ----------- larger than 1280px ----------- */
@media screen and (min-width: 1281px) {
	/*
	body{
		background-color: olive;
	}
	*/
  .formes-container {
	  max-width: 1280px;
	  margin: 0 auto;
  }
	.looping-text h4{
	font-size: 6.8em !important;
	}
	h4{
		font-size: 3.4em !important;
	}
}

/* ANIMATION DES TITRES EN LOOP */
body{
	overflow-x: hidden;
}
.entre-les-doigts .banner{
	border-bottom: 1px solid #fff;
}
.entre-les-doigts .article-gallery{
	border-top: 1px solid #fff;
}
.row-looping-text{
	margin: 0;
	height: 180px;
}
.looping-text{
	position: absolute;
	white-space: nowrap;
	border: none;
}
.looping-text{
	animation: title-animation 10s linear infinite;
}
@keyframes title-animation {
	from {
		transform: translateX(100vw);
	}
	to {
		transform: translateX(-100%);
	}
}

/* ANIMATIONS FADE IN (ANIMATE.CSS) */
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/* FADE IN */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

/* FADE IN LEFT */
@keyframes fadeInLeft {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
}
.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

/* FADE IN RIGHT */
@keyframes fadeInRight {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
}
.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

/* FADE OUT */
@-webkit-keyframes fadeOut {
	from {
	  opacity: 1;
	}
  
	to {
	  opacity: 0;
	}
  }
  
  @keyframes fadeOut {
	from {
	  opacity: 1;
	}
  
	to {
	  opacity: 0;
	}
  }
  
  .fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
  }